<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.nekosoft.brokenglass.App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrokenGlass">

        <activity
            android:name="com.nekosoft.brokenglass.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashThemeNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nekosoft.brokenglass.ui.intro.IntroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.WallpaperDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.wallpaper.WallpaperActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.language.LanguageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.recent.RecentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.crankEffect.CrankEffectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.BrokenScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nekosoft.brokenglass.ui.fireScreen.FireScreenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.nekosoft.brokenglass.ui.fireScreen.ElectricActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.nekosoft.brokenglass.ui.fireScreen.FireTouchActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.nekosoft.brokenglass.ui.fireScreen.FireBlowActicity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.nekosoft.brokenglass.ui.EffectWeaponActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"/>

        <service
            android:name="com.nekosoft.brokenglass.service.OverlayService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            tools:node="merge" />

        <receiver
            android:name="com.nekosoft.brokenglass.alarm.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ad_app_id}" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
<!--        <property-->
<!--            android:name="android.adservices.AD_SERVICES_CONFIG"-->
<!--            android:resource="@xml/gma_ad_services_config"-->
<!--            tools:replace="android:resource" />-->

    </application>

</manifest>